.Admin {
  font-style: bold;
  font-weight: bold;
}
.headers {
  font-size: 24px;
}
.Online {
  background-color: green;
  color: white;
}
.Offline {
  background-color: red;
  color: white;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
