
.nav-item {
  padding: 2px;
  margin-left: 7px;
}

.nav-item:hover{
  background-color: rgb(112, 106, 106);

}

.nav-item:focus{
  color: blanchedalmond;
}
.nav-link:hover{
  background-color: rgb(112, 106, 106);

}
.logoutbutton{
    color: white;
    background-color: #4b4b4b;
}

ul {
  margin-left: 30%;
}

nav {
  margin-bottom: 200px;
}
