<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 order-12 order-md-1">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4 col-md-3 col-lg-3 mt-1 mb-1">
              <app-dashboard-card cardColor="bg-warning" iconClass="fas fa-thermometer-quarter fa-2x"
                label="Temperature" value="{{ temperatureValue }}"></app-dashboard-card>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-3 mt-1 mb-1">
              <app-dashboard-card cardColor="bg-primary" iconClass="fas fa-tint fa-2x" label="Humidity"
                value="{{ humidityValue }}%">
              </app-dashboard-card>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-3 mt-1 mb-1">
              <app-dashboard-card cardColor="bg-info" [iconClass]="
                  !(lightStatus === 'N/A' || lightStatus === 'OFF')
                    ? 'fas fa-lightbulb fa-2x text-warning'
                    : 'fas fa-lightbulb fa-2x'
                " label="Home Light" value="{{ lightStatus }}"></app-dashboard-card>
              <div class="col-sm-4 col-md-3 col-lg-2 dashboard-card-switch">
                <div class="custom-control custom-switch">
                  <input (change)="handleLightSwitch($event)" type="checkbox" class="custom-control-input"
                    id="home-light-switch" value="{{ lightSwitch }}" [checked]="lightSwitch" />
                  <label class="custom-control-label" style="color: cornsilk" for="home-light-switch"></label>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-3 mt-1 mb-1">
              <app-dashboard-card cardColor="bg-info" [iconClass]="
                  !(fanStatus === 'N/A' || fanStatus === 'OFF')
                    ? 'fas fa-fan fa-2x icon-spin'
                    : 'fas fa-fan fa-2x'
                " label="Home Fan" value="{{ fanStatus }}"></app-dashboard-card>
              <div class="col-sm-4 col-md-3 col-lg-2 dashboard-card-switch">
                <div class="custom-control custom-switch">
                  <input (change)="handleFanSwitch($event)" type="checkbox" class="custom-control-input"
                    id="home-fan-switch" value="{{ fanSwitch }}" [checked]="fanSwitch" />
                  <label class="custom-control-label" style="color: cornsilk" for="home-fan-switch"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid mt-4">
          <div class="row">
            <div class="col-md-6 mt-1 mb-1">
              <div class="card">
                <app-line-chart title="Realtime Temperature" chartName="Temperature"
                  [lineValues]="[temperatureValueList]">
                </app-line-chart>
              </div>
            </div>
            <div class="col-md-6 mt-1 mb-1">
              <div class="card">
                <app-line-chart title="Realtime Humidity" chartName="Humidity" [lineValues]="[humidityValueList]">
                </app-line-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 order-1 order-md-12">
        <div class="d-flex">
          <div [ngClass]="
              isWebAndAgentIsConnected
                ? 'list-group-item bg-success flex-fill'
                : 'list-group-item bg-danger flex-fill'
            ">
            <span class="text-white">
              {{ isWebAndAgentIsConnected ? "Web-Agent" : "Web ! Agent" }}
            </span>
          </div>
          <div [ngClass]="
              isAgentAndBrokerIsConnected
                ? 'list-group-item bg-success flex-fill'
                : 'list-group-item bg-danger flex-fill'
            ">
            <span class="text-white">
              {{
              isAgentAndBrokerIsConnected ? "Agent-Broker" : "Agent ! Broker"
              }}
            </span>
          </div>
        </div>

        <div class="mt-3 list-group-item">
          <h4>Active Connections</h4>
          <li *ngFor="let clientId of connectedClients; let i = index" class="active-connection-item">
            {{ clientId }}
          </li>
        </div>
      </div>
    </div>
  </div>
</div>